
header,aside,main,footer{
       border:1px solid BLUE;
	   background:blue;
}

#big_wrapper{
    background:white;
    color: white;
    text-align: center;
	width:100%;
	min-width:340px;
	max-width:1100;
	margin-right:auto;
	margin-left:auto;
}
.REM{
    font-size:3.3rem;
}

.p{
    color:blue;
    text-align: center;
}
aside{
   width:27%;
   box-sizing:border-box;
   float:left;
   clear:left;
    background:white;
    color:blue;
    overflow:scroll;
   }
  main{
   width:73%;
   height:80%;
   float:right;
   box-sizing:border-box;
    background:WHITE;
    color:blue;
   }
   footer{
    clear:both;
	height:33%;
     background:blue;
     color: white;
	}
section{
    text-align: center;
	}
span{
font-size:0.8em;
font-style:italic;
width:33%;
margin-left,margin-right:auto;
display:inline-block;
text-align:center;
}